{% from 'src/.pre-commit-config.yaml.jinja' import repo_rev with context %}
name: pre-commit

on:
  pull_request:
    branches:
      - "{{ odoo_version }}*"
  push:
    branches:
      - "{{ odoo_version }}"
      - "{{ odoo_version }}-ocabot-*"

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      # Actions are pinned to a commit SHA to avoid supply chain attacks through
      # a moved tag. The trailing comment documents the human-readable version.
      - uses: actions/checkout@11d5960a326750d5838078e36cf38b85af677262 # v4.4.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
{%- if odoo_version < 11 %}
        with:
          python-version: "2.7"
{%- elif odoo_version < 13 %}
        with:
          python-version: "3.7"
{%- elif odoo_version < 14 %}
        with:
          python-version: "3.8"
{%- else %}
        with:
          python-version: "{{ repo_rev.python |replace('python','') }}"
{%- endif %}
          cache: 'pip'
          cache-dependency-path: '.pre-commit-config.yaml'
      - name: Get python version
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: {% raw %}pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}{% endraw %}
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files --show-diff-on-failure --color=always
        env:
          # Consider valid a PR that changes README fragments but doesn't
          # change the README.rst file itself. It's not really a problem
          # because the bot will update it anyway after merge. This way, we
          # lower the barrier for functional contributors that want to fix the
          # readme fragments, while still letting developers get README
          # auto-generated (which also helps functionals when using runboat).
          # DOCS https://pre-commit.com/#temporarily-disabling-hooks
          SKIP: oca-gen-addon-readme
      - name: Check that all files generated by pre-commit are in git
        run: |
          newfiles="$(git ls-files --others --exclude-from=.gitignore)"
          if [ "$newfiles" != "" ] ; then
              echo "Please check-in the following files:"
              echo "$newfiles"
              exit 1
          fi
