{#- This namespace holds repo versions #}
{%- set repo_rev = namespace() %}

{#- '<15' only affects to 14.0 #}
{%- if odoo_version < 15 %}
  {%- set repo_rev.autoflake = "v1.5.3" %}
  {%- set repo_rev.black = "22.3.0" %}
  {%- set repo_rev.eslint = "7.8.1" %}
  {%- set repo_rev.flake8 = "5.0.0" %}
  {%- set repo_rev.flake8_bugbear = "20.1.4" %}
  {%- set repo_rev.isort = "5.12.0" %}
  {%- set repo_rev.maintainer_tools = "f9b919b9868143135a9c9cb03021089cabba8223" %}
  {%- set repo_rev.nodejs = "14.13.0" %}
  {%- set repo_rev.odoo_pre_commit_hooks = "v0.0.25" %}
  {%- set repo_rev.pre_commit_hooks = "v3.2.0" %}
  {%- set repo_rev.prettier = "2.1.2" %}
  {%- set repo_rev.prettier_xml = "0.12.0" %}
  {%- set repo_rev.pylint = "v2.11.1" %}
  {%- set repo_rev.pylint_odoo = "7.0.2" %}
  {%- set repo_rev.pyupgrade = "v2.7.2" %}
  {%- set repo_rev.ruff = "v0.1.3" %}
  {%- set repo_rev.setuptools_odoo = "3.1.8" %}
{%- elif odoo_version < 16 %}
  {%- set repo_rev.autoflake = "v1.5.3" %}
  {%- set repo_rev.black = "22.3.0" %}
  {%- set repo_rev.eslint = "v7.32.0" %}
  {%- set repo_rev.flake8 = "5.0.0" %}
  {%- set repo_rev.flake8_bugbear = "21.9.2" %}
  {%- set repo_rev.isort = "5.12.0" %}
  {%- set repo_rev.maintainer_tools = "f9b919b9868143135a9c9cb03021089cabba8223" %}
  {%- set repo_rev.nodejs = "14.18.0" %}
  {%- set repo_rev.odoo_pre_commit_hooks = "v0.0.25" %}
  {%- set repo_rev.pre_commit_hooks = "v4.0.1" %}
  {%- set repo_rev.prettier = "2.4.1" %}
  {%- set repo_rev.prettier_xml = "1.1.0" %}
  {%- set repo_rev.pylint = "v2.11.1" %}
  {%- set repo_rev.pylint_odoo = "7.0.5" %}
  {%- set repo_rev.pyupgrade = "v2.29.0" %}
  {%- set repo_rev.ruff = "v0.1.3" %}
  {%- set repo_rev.setuptools_odoo = "3.1.8" %}
{%- elif odoo_version < 17 %}
  {%- set repo_rev.autoflake = "v1.6.1" %}
  {%- set repo_rev.black = "22.8.0" %}
  {%- set repo_rev.eslint = "8.24.0" %}
  {%- set repo_rev.flake8 = "5.0.0" %}
  {%- set repo_rev.flake8_bugbear = "21.9.2" %}
  {%- set repo_rev.isort = "5.12.0" %}
  {%- set repo_rev.maintainer_tools = "f9b919b9868143135a9c9cb03021089cabba8223" %}
  {%- set repo_rev.nodejs = "16.17.0" %}
  {%- set repo_rev.odoo_pre_commit_hooks = "v0.0.25" %}
  {%- set repo_rev.pre_commit_hooks = "v4.3.0" %}
  {%- set repo_rev.prettier = "2.7.1" %}
  {%- set repo_rev.prettier_xml = "2.2.0" %}
  {%- set repo_rev.pylint_odoo = "v8.0.19" %}
  {%- set repo_rev.pyupgrade = "v2.38.2" %}
  {%- set repo_rev.ruff = "v0.1.3" %}
  {%- set repo_rev.setuptools_odoo = "3.1.8" %}
{%- elif odoo_version < 18 %}
  {%- set repo_rev.autoflake = "v1.6.1" %}
  {%- set repo_rev.black = "22.8.0" %}
  {%- set repo_rev.eslint = "8.24.0" %}
  {%- set repo_rev.flake8 = "3.9.2" %}
  {%- set repo_rev.flake8_bugbear = "21.9.2" %}
  {%- set repo_rev.isort = "5.12.0" %}
  {%- set repo_rev.maintainer_tools = "f9b919b9868143135a9c9cb03021089cabba8223" %}
  {%- set repo_rev.nodejs = "16.17.0" %}
  {%- set repo_rev.odoo_pre_commit_hooks = "v0.0.25" %}
  {%- set repo_rev.pre_commit_hooks = "v4.3.0" %}
  {%- set repo_rev.prettier = "2.7.1" %}
  {%- set repo_rev.prettier_xml = "2.2.0" %}
  {%- set repo_rev.pylint_odoo = "v9.0.4" %}
  {%- set repo_rev.pyupgrade = "v2.38.2" %}
  {%- set repo_rev.ruff = "v0.1.3" %}
  {%- set repo_rev.setuptools_odoo = "3.1.8" %}
{%- else %}
  {%- set repo_rev.autoflake = "v1.6.1" %}
  {%- set repo_rev.black = "22.8.0" %}
  {%- set repo_rev.eslint = "9.12.0" %}
  {%- set repo_rev.eslint_jsdoc = "50.3.1" %}
  {%- set repo_rev.flake8 = "3.9.2" %}
  {%- set repo_rev.flake8_bugbear = "21.9.2" %}
  {%- set repo_rev.globals = "16.0.0" %}
  {%- set repo_rev.isort = "5.12.0" %}
  {%- set repo_rev.maintainer_tools = "bf9ecb9938b6a5deca0ff3d870fbd3f33341fded" %}
  {%- set repo_rev.nodejs = "22.9.0" %}
  {%- set repo_rev.odoo_pre_commit_hooks = "v0.1.1" %}
  {%- set repo_rev.pre_commit_hooks = "v4.6.0" %}
  {%- set repo_rev.prettier = "3.3.3" %}
  {%- set repo_rev.prettier_xml = "3.4.1" %}
  {%- set repo_rev.pylint_odoo = "v9.3.2" %}
  {%- set repo_rev.pyupgrade = "v2.38.2" %}
  {%- set repo_rev.ruff = "v0.9.9" %}
  {%- set repo_rev.setuptools_odoo = "3.1.8" %}
{%- endif %}

{#- Older versions that differ a lot have their own hardcoded templates for readability #}
{%- if odoo_version < 13 %}
  {%- include "version-specific/mqt-compat/.pre-commit-config.yaml.jinja" %}

{%- elif odoo_version < 14 %}
  {%- include "version-specific/%s/.pre-commit-config.yaml.jinja" % odoo_version %}

{#- Newer versions without hacks are rendered here directly #}
{%- else -%}
exclude: |
  (?x)
  # NOT INSTALLABLE ADDONS
  # END NOT INSTALLABLE ADDONS
  # Files and folders generated by bots, to avoid loops
  ^setup/|/static/description/index\.html$|
  # We don't want to mess with tool-generated files
  .svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
  # Maybe reactivate this when all README files include prettier ignore tags?
  ^README\.md$|
  # Library files can have extraneous formatting (even minimized)
  /static/(src/)?lib/|
  # Repos using Sphinx to generate docs don't need prettying
  ^docs/_templates/.*\.html$|
  # Don't bother non-technical authors with formatting issues in docs
  readme/.*\.(rst|md)$|
  # Ignore build and dist directories in addons
  /build/|/dist/|
  # Ignore test files in addons
  /tests/samples/.*|
  # You don't usually want a bot to modify your legal texts
  (LICENSE.*|COPYING.*)
default_language_version:
  python: python3
  node: "{{ repo_rev.nodejs }}"
repos:
  - repo: local
    hooks:
      # These files are most likely copier diff rejection junks; if found,
      # review them manually, fix the problem (if needed) and remove them
      - id: forbidden-files
        name: forbidden files
        entry: found forbidden files; remove them
        language: fail
        files: "\\.rej$"
      - id: en-po-files
        name: en.po files cannot exist
        entry: found a en.po file
        language: fail
        files: '[a-zA-Z0-9_]*/i18n/en\.po$'
  {%- if use_pyproject_toml %}
  - repo: https://github.com/sbidoul/whool
    rev: v1.2
    hooks:
      - id: whool-init
  {%- endif %}
  - repo: https://github.com/oca/maintainer-tools
    rev: {{ repo_rev.maintainer_tools }}
    hooks:
      # update the NOT INSTALLABLE ADDONS section above
      - id: oca-update-pre-commit-excluded-addons
      - id: oca-fix-manifest-website
        args: ["{{ org_website }}"]
      - id: oca-gen-addon-readme
        args:
          - --addons-dir=.
          - --branch={{ "%.01f" | format(odoo_version) }}
          - --org-name={{ org_slug }}
          - --repo-name={{ repo_slug }}
          - --if-source-changed
          - --keep-source-digest
          {%- if convert_readme_fragments_to_markdown %}
          - --convert-fragments-to-markdown
          {%- endif %}
      {%- if use_pyproject_toml and generate_requirements_txt %}
      - id: oca-gen-external-dependencies
      {%- endif %}
  - repo: https://github.com/OCA/odoo-pre-commit-hooks
    rev: {{ repo_rev.odoo_pre_commit_hooks }}
    hooks:
      - id: oca-checks-odoo-module
      - id: oca-checks-po
        args:
          - --disable=po-pretty-format
  {%- if not use_ruff %}
  - repo: https://github.com/myint/autoflake
    rev: {{ repo_rev.autoflake }}
    hooks:
      - id: autoflake
        args:
          - --expand-star-imports
          - --ignore-init-module-imports
          - --in-place
          - --remove-all-unused-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/psf/black
    rev: {{ repo_rev.black }}
    hooks:
      - id: black
  {%- endif %}
  - repo: local
    hooks:
      - id: prettier
        name: prettier (with plugin-xml)
        entry: prettier
        args:
          - --write
          - --list-different
          - --ignore-unknown
        types: [text]
        files: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$
        language: node
        additional_dependencies:
          - "prettier@{{ repo_rev.prettier }}"
          - "@prettier/plugin-xml@{{ repo_rev.prettier_xml }}"
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: eslint
        args:
          - --color
          - --fix
        verbose: true
        types: [javascript]
        language: node
        additional_dependencies:
          - "eslint@{{ repo_rev.eslint }}"
          - "eslint-plugin-jsdoc@{{ repo_rev.eslint_jsdoc }}"
          - "globals@{{ repo_rev.globals }}"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: {{ repo_rev.pre_commit_hooks }}
    hooks:
      - id: trailing-whitespace
        # exclude autogenerated files
        exclude: /README\.rst$|\.pot?$
      - id: end-of-file-fixer
        # exclude autogenerated files
        exclude: /README\.rst$|\.pot?$
      - id: debug-statements
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
        # exclude files where underlines are not distinguishable from merge conflicts
        exclude: /README\.rst$|^docs/.*\.rst$
      - id: check-symlinks
      - id: check-xml
      - id: mixed-line-ending
        args: ["--fix=lf"]
  {#- ruff doesn't support python 3.6 #}
  {%- if not use_ruff or odoo_version < 15.0 %}
  - repo: https://github.com/asottile/pyupgrade
    rev: {{ repo_rev.pyupgrade }}
    hooks:
      - id: pyupgrade
        args: ["--keep-percent-format"]
  {%- endif %}
  {%- if not use_ruff %}
  - repo: https://github.com/PyCQA/isort
    rev: {{ repo_rev.isort }}
    hooks:
      - id: isort
        name: isort except __init__.py
        args:
          - --settings=.
        exclude: /__init__\.py$
  {%- endif %}
  {%- if not use_pyproject_toml and false %}
  - repo: https://github.com/acsone/setuptools-odoo
    rev: {{ repo_rev.setuptools_odoo }}
    hooks:
      - id: setuptools-odoo-make-default
      {%- if generate_requirements_txt %}
      - id: setuptools-odoo-get-requirements
        args:
          - --output
          - requirements.txt
          - --header
          - "# generated from manifests external_dependencies"
      {%- endif %}
  {%- endif %}
  {%- if not use_ruff %}
  - repo: https://github.com/PyCQA/flake8
    rev: {{ repo_rev.flake8 }}
    hooks:
      - id: flake8
        name: flake8
        additional_dependencies: ["flake8-bugbear=={{ repo_rev.flake8_bugbear }}"]
  {%- else %}
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: {{ repo_rev.ruff }}
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  {%- endif %}
  - repo: https://github.com/OCA/pylint-odoo
    rev: {{ repo_rev.pylint_odoo }}
    hooks:
      - id: pylint_odoo
        name: pylint with optional checks
        args:
          - --rcfile=.pylintrc
          - --exit-zero
        verbose: true
      - id: pylint_odoo
        args:
          - --rcfile=.pylintrc-mandatory
{%- endif %}
