{%- if odoo_version < 13 %}
  {%- include "version-specific/mqt-compat/.pylintrc.jinja" %}
{%- else %}
{% extends "src/.pylintrc-mandatory.jinja" %}
{% block note %}
# This .pylintrc contains optional AND mandatory checks and is meant to be
# loaded in an IDE to have it check everything, in the hope this will make
# optional checks more visible to contributors who otherwise never look at a
# green travis to see optional checks that failed.
# .pylintrc-mandatory containing only mandatory checks is used the pre-commit
# config as a blocking check.
{% endblock %}
{% block optional_checks %},
    # messages that do not cause the lint step to fail
    consider-merging-classes-inherited,
    create-user-wo-reset-password,
    dangerous-filter-wo-user,
    deprecated-module,
    file-not-used,
    invalid-commit,
    missing-manifest-dependency,
    missing-newline-extrafiles,
    missing-readme,
    no-utf8-coding-comment,
    odoo-addons-relative-import,
    old-api7-method-defined,
    redefined-builtin,
    too-complex,
    unnecessary-utf8-coding-comment,
    manifest-external-assets
{% endblock %}
{%- endif %}
