name: test

on:
  pull_request:
  push:
    branches: [master]
  release:
    types: [created]

jobs:
  test:
    runs-on: ${{matrix.machine}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - odoo-version: 13.0
            python-version: 3.8
            machine: ubuntu-22.04
          - odoo-version: 14.0
            python-version: 3.8
            machine: ubuntu-22.04
          - odoo-version: 15.0
            python-version: 3.8
            machine: ubuntu-22.04
          - odoo-version: 16.0
            python-version: "3.10"
            machine: ubuntu-22.04
          - odoo-version: 17.0
            python-version: "3.10"
            machine: ubuntu-22.04
          - odoo-version: 18.0
            python-version: "3.12"
            machine: ubuntu-24.04
          - odoo-version: 19.0
            python-version: "3.12"
            machine: ubuntu-24.04
    steps:
      # Prepare environment
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry

      # Install specific alternate python versions required by hooks
      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry

      # Let tests issue git commits
      - run: git config --global user.name CI
      - run: git config --global user.email CI@GITHUB

      # Run all tests
      - run: poetry install
      - run: poetry run pytest --color yes
        env:
          SELECTED_ODOO_VERSIONS: ${{ matrix.odoo-version }}
